/**
 * SOME CODE WAS FOUND ON https://flexbox.ninja/ 
 * Make body at least 100% height
 * You can also use a combination
 * of height: 100% in <html> and
 * min-height: 100% in <body>.
 */
body{
   background-color: rgb(167, 179, 196);
   
 }
h1{
   word-wrap: normal;
   font-family: 'Anton', sans-serif;
 }

.holy-grail {
	min-height: 100vh;
}
header{
word-wrap: break-word;
display: flex;
justify-content: space-evenly;
background-color: lightgrey;
border: gray solid 1px;
width:100%;
}

header h1{
  margin: auto;
}

.login{
 display: flex-end;

}
form{
  display: inline;
  justify-content:center;

  margin-top: 100px;
  
  
}
#carouselExampleSlidesOnly{

  height: 300px;
  overflow:hidden;
  object-position: center;
}

#carouselExampleSlidesOnly img{
  object-fit: cover;
}
/**
 * Let's do a column distribution
 * (mobile first)
 * flex value is 1 1 auto to make
 * body skrinkable and extensible
 */
.holy-grail,
.holy-grail-body {
  background-color: lightblue;
	display: flex;
  flex-direction: column;
  height: 900px;
}

/**
 * Content body item is made
 * extensible too.
 */
.holy-grail-content {
  /* background-color: lightslategrey; */
  font-size: 30px;
  justify-content: center;
}

/**
 * Put the first sidebar before content.
 * If you need sidebar to be before content
 * only in big screen put those 3 next lines
 * in @media block.
 */
 .holy-grail-sidebar-1-hg-sidebar{
  /* margin-top: 70px; */
  order: -1;
  position: fixed;
}

.results{
  width:100%;
  text-align: center;
  background-color:lightslategray;
}

.results h1{
  font-family: 'Rubik', sans-serif;
}
.results h2{
  font-family: 'Roboto', sans-serif;
}
/**
 * Let's introduce bigger screen
 */
 .signIn{
   margin: auto 0;

 }
	/**
	 * Body items are now side by side
	 */
	.holy-grail-body {
    flex-direction: row;
	}


.mr-3{
  border: solid 1px black;
  box-shadow: 10px 10px 5px grey;
  word-break: break-all;
  margin-left: 10px;
}

footer{
display: flex;
justify-content: center;
background-color: lightgrey;
border: gray solid 1px;
width:100%;
font-family: 'Roboto', sans-serif;
}

.results{
  align-items: center;
  justify-content: center;
}

#profile{
  border: solid black 2px;
  margin-bottom: 60px;
}
 


@media (max-width:460px){
  header{
    display:block;
    text-align: center;
  }
}
